---
import type { z } from 'astro:content';

import type { friendSchema } from '../content/config';

export type Props = {
  friend: z.infer<typeof friendSchema>;
};

const { friend } = Astro.props;
---

<div
  class="p-3 flex flex-col justify-center gap-3 bg-gray-100 dark:bg-gray-900 hover:bg-gray-200 dark:hover:bg-gray-800 transition-colors"
>
  <div class="flex gap-2">
    <img
      src={friend?.avatar ?? `https://github.com/${friend.github}.png`}
      alt={friend.github + "'s avatar"}
      class="w-20 h-20"
    />
    <div class="grow flex flex-col justify-center items-center text-center">
      <div class="font-semibold text-black dark:text-white">
        {friend.name}
      </div>
      {
        friend?.description && (
          <div class="text-gray-500 dark:text-gray-400 text-xs">
            {friend.description}
          </div>
        )
      }
    </div>
  </div>
  <div
    class:list={[
      'flex text-xs underline text-gray-600 dark:text-gray-300 gap-1',
      friend?.website ? 'justify-between' : 'justify-center',
    ]}
  >
    <a
      href={'https://github.com/' + friend.github}
      class="hover:text-black dark:hover:text-white transition-colors"
    >
      <i class="ri-github-fill"></i>
      <span>{friend.github}</span>
    </a>
    {
      friend?.website && (
        <a
          href={friend.website}
          class="hover:text-black dark:hover:text-white transition-colors"
        >
          <i class="ri-links-fill" />
          <span>{friend.website.replace('https://', '')}</span>
        </a>
      )
    }
  </div>
</div>
