---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';

export const getStaticPaths = async () => {
  const blogPosts = await getCollection('blog');
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

export type Props = {
  post: CollectionEntry<'blog'>;
};
const { post } = Astro.props;
const { Content } = await post.render();

const ISODate = post.data.date.toISOString();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  article={{ tags: post.data.tags, date: ISODate }}
>
  <h1 class="text-center font-bold text-4xl dark:text-white">
    {post.data.title}
  </h1>
  <div class="block text-center text-gray-400 mb-2 text-sm mt-2">
    <time datetime={ISODate}>{post.data.date.toDateString()}</time>
    <span> / {post.data.tags.join(' · ')}</span>
  </div>
  <!-- TODO: Add links to headings -->
  <article class="prose dark:prose-invert max-w-full">
    <Content />
  </article>
</Layout>
