---
import { getEntryBySlug } from 'astro:content';

import Comment from '../../components/Comment.astro';
import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;
const post = (await getEntryBySlug('blog', slug!))!;

// FIXME: Check if the post can be found
// if (!post) {
//   return Astro.redirect('/404');
// }

const { Content } = await post.render();

const ISODate = post.data.date.toISOString();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  article={{ tags: post.data.tags, date: ISODate }}
  language={post.data.language}
>
  <h1 class="text-center font-bold text-4xl dark:text-white">
    {post.data.title}
  </h1>
  <div class="block text-center text-gray-400 mb-2 text-sm mt-2">
    <time datetime={ISODate}>{post.data.date.toDateString()}</time>
    <span>-</span>
    <span>
      {
        post.data.tags.map((tag) => (
          <a
            class="hover:text-gray-300 dark:hover:text-gray-500 transition-colors"
            href={'/blog?tag=' + tag}
          >
            {tag}
          </a>
        ))
      }
    </span>
  </div>
  <!-- TODO: Add scroll offset for header when click heading -->
  <!-- TODO: Scroll to heading if url contains heading id -->
  <article
    class="prose dark:prose-invert max-w-none prose-a:break-words prose-a:prose-headings:decoration-transparent hover:prose-a:prose-headings:decoration-black prose-a:prose-headings:transition-colors"
  >
    <Content />
  </article>
  <Comment />
</Layout>
